<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name Input Form</title>
  <link rel="stylesheet" type="text/css" href="main/style.css">

 </head>
<body>
    <form action="#"> <label for="name">Enter your name:</label>
        <input type="text" id="name" name="name" placeholder="Your name">
        <button type="submit">Submit</button>
    </form>
    <% if(name){ %>
        <div class="name">
            <h1><%= joke %></h1>
        </div>


        <% }else{ %>
            <% } %>

</body>
</html>
