body{
    background-color: teal;
    color: white;
}
h1{
    border: 10px dashed lightslategray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px;
    padding: 5px 5px;
}